.menu > * {
    display: inline-block;
    vertical-align: top;
}

li.menu_item {
    display: inline-block;
    vertical-align: top;
    margin-right: 14%;
    line-height: 50px;
    font-size: 22px;
    cursor: pointer;
}

.menu {
    width: 100%;
    height: 50px;
    background: black;
    color: white;
    text-align: center;
}

ul.menu_box {
    width: 1000px;
    margin: auto;
}

button.menu_search {
    margin-top: 10px;
    outline: none;
    width: 170px;
    background: #7c7cff;
    border: none;
    color: white;
    height: 35px;
    border-radius: 8px;
    cursor: pointer;
}

h4.excursions_caption, .guide_caption {
    width: 230px;
    margin: 0px 0px -45px;
    text-align: center;
    background: #8078ff;
    color: white;
}

.excursions,.guide {
    position: relative;
    text-align: center;
    margin: auto;
    width: 1200px;
    margin-top: 20px;
}

.excursions_city {}

.excursions_city {
    text-align: left;
    display: inline-block;
    width: 550px;
    margin: 0 20px;
    height: 300px;
    
    cursor: pointer;
    box-shadow: 0 0 30px #212529;
}
.excursions_city_sank-peterburg{
background: url(https://www.advantour.com/russia/images/moscow/moscow-kremlin.jpg);
}
.excursions_city_moscow{
background: url(https://www.advantour.com/russia/images/moscow/moscow-kremlin.jpg);
}
.excursions_citybox, .guide_box {
    margin-top: 30px;
    border-top: 30px solid #8078ff;
}

span.excursions_cityname {
    display: block;
    margin: 20px;
    color: white;
    font-size: 25px;
}
.guide_info {
    display: inline-block;
    border: 3px solid #8473ff;
    height: 150px;
    width: 230px;
    border-top: none;
    margin: 0px 30px;
}
span.guide_name {
    display: block;
    margin-top: 20px;
}
.page-logo {
    width: 100%;
}

h2.page-logo_name {
    margin: 10px 0px 10px 5%;
    font-size: 35px;
    color: #8078ff;
}

